# Dependency directories
node_modules/
/dist/

# Angular
*.stackdump
*.suo
*.user
*.dll
*.pidb
*.log
*.tlog
*.tlog/*
*.manifest
*.obj
*.cache
*.ipch
*.lib
*.atdb
*.aps
*.bak
*.bin
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.asm
*.ini
*.zip
*.rar
*.cab
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.exe
*.dll
*.pdb
*.ilk
*.msi
*.msp
*.lnk
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.obj
*.mk
*.exp
*.bc
*.cl
*.aps
*.aps
*.~m2
*.~mp
*.log
*.old
*.bak
*.bak
*.bak
*.bak
*.bak
.DS_Store
Thumbs.db

# Angular CLI
e2e/*.js
e2e/*.map

# Protractor
protractor.log

# JetBrains IDE
.idea/

# Visual Studio Code
.vscode/

# Custom
*.editorconfig
