<app-carousel></app-carousel>
<div class="details_page">
    <div *ngIf="!product">No product</div>
    <div class="product" *ngIf="product">
        <div class="product-image">
        </div>
        <div class="product-info">
            <div class="title">
                <h3>{{product.name}}</h3>
                <p class="price">{{product.price}}€</p>
                <p class="price">Description:  {{product.description}}€</p>
                <p class="price">Price: {{product.price}}€</p>
                <p class="price">El propietario es: <b>{{product.author.username}} </b></p>

            </div>
    </div>
    <app-favorite-button
        [products]="product"
        (toggle)="onToggleFavorite($event)">
        {{ product.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ product.favoritesCount }})</span>
    </app-favorite-button>

    <br>
    <app-follow-button (toggle)="onToggleFollow($event)" [profile]="product.author"></app-follow-button>
</div>   
</div>