<table>
    <thead>
      <!-- <button (click)="delete_all_products()">Delete ALL</button> -->
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <!-- <td><button (click)="borrarProducto(product._id)">Borrar</button></td>
        <td><button routerLink="/productos/update/{{ product._id }}">Editar</button></td> -->
      </tr>
    </tbody>
  </table>